<div id="Menu">
    <ul id="user_nav_menu">
        <% if logged_in %>
            <li><%= link_to 'My CDs', :controller=>'user',
                                        :action=>'home',
                                        :user_id=>session[:user],
										:items=>'books'%></li>
            <li><%= link_to 'All CDs', :controller=>'book',
                                         :action=>'list' %></li>
            <li>
                <% form_tag ({:controller=> "book", :action=> "search"}) do %>
                    <input type="hidden" name="page" value="1" />
                    <span id="add_book_title">Add Book</span>
                    <%= text_field_tag "book_keyword" %>
                    <%= submit_tag "Search", :id=>'search_button' %>
                <% end %>
            </li>
        <% else %>
            <ul id="home_menu">
                <li><%= link_to 'Join Now', :controller=>'user',
                                            :action=>'signup' %></li>
                <li><%= link_to 'View the CDs', :controller=>'book',
                                                  :action=>'list' %></li>
            </ul>
        <% end %>
    </ul>
</div>